<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://api.backeame.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://api.backeame.com:8172/msdeploy.axd?site=backeame-001-subsite2</MSDeployServiceURL>
    <DeployIisAppPath>backeame-001-subsite2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\backeame-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BackeameContext" Order="3" Enabled="False">
          <Destination Path="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A1FCF4_backeamedb;User ID=DB_A1FCF4_backeamedb_admin;Password=back34me" Name="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A1FCF4_backeamedb;User Id=DB_A1FCF4_backeamedb_admin; Password=back34me;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=BackeameDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BackeameContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=BackeameDB;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BackeameContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A1FCF4_backeamedb;User Id=DB_A1FCF4_backeamedb_admin; Password=back34me;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>